@import "~bootstrap/dist/css/bootstrap.css";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

textarea {
	resize: vertical;
}

.text-white {
  color: #fff !important;
}

.text-white:focus, .text-white:hover {
  color: #ccc !important;
}

.text-dark {
  color: #343a40 !important;
}

.text-dark:focus, .text-dark:hover {
  color: #1d2124 !important;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
	margin-bottom: 20px;
}

.sr-card {
	border: 1px solid #AAA;
	border-radius: 6px;
	background: #EEE;
	padding: 20px;
	padding-top: 5px;
	margin-top: 15px;
    margin-bottom: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.equal-height {
    display: flex;
    flex-wrap: wrap;
}
.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.push-bottom {
    display: flex;
    margin-top: auto;
}

.weekday-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .weekday-row {
        flex-direction: row;
    }
}

.top-buffer-sm {
	margin-top:20px;
}

.top-buffer-xs {
    margin-top:2px;
}

.top-buffer-lg {
    margin-top:80px;
}

.bottom-buffer-sm {
    margin-bottom:20px;
}

.bottom-buffer-md {
    margin-bottom:40px;
}

.right-buffer-sm {
    margin-right:20px;
}

.card-padded {
	padding:20px;
}

.date-box-style {
	width: 200px;
	maxlength: 10;
}

.horizontally-centered {
	margin-left: auto;
	margin-right: auto;
}

.left-align-300 {
    position: absolute;
    left: 300px;
    padding: 10px;
}

.center-icon-vertical {
	line-height: inherit;
}